<%= javascript_include_tag "refresh_page" %>
<%= javascript_include_tag "refresh_every_3_sec" %>

<% if CustomRate.last.present? && CustomRate.last.date >= Date.today %>
	<h2>Форсированный курс</h2>
	<%= @custom_rate.value %>
	<h2>Срок действия, до:</h2>
	<%= @custom_rate.date %>
<% else %>
	<h2>Официальный курс доллара на сегодня</h2>
	<%= @official_rate %>
<% end %>

